.container {
    display: flex;

    .naoki {
        padding: 40px;

        h1 {
            font-size: 70px;
            font-weight: 700, bold;
            line-height: 81px;
        }
    }

    .content {
        
    }
}